*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
    margin: 0;
    min-height: 100vh;
}

body{
    background-color: bisque;
}


h1{
    text-align: center;
    font-size: 3em;
}

.container{
    display: flex;
    gap: 3em;
    justify-content: center;
}

#rock{
    border: 2px solid black;
    padding: 2%;
    border-radius: 10%;
}

#rock:hover{
    border-color: blue;
}

#paper{
    border: 2px solid black;
    padding: 2%;
    border-radius: 10%;
}

#paper:hover{
    border-color: blue;
}

#scissors{
    border: 2px solid black;
    padding: 2%;
    border-radius: 10%;
}

#scissors:hover{
    border-color: blue;
}

.scoreboard{
    margin-top: 1em;
    border: 2px solid black;
    display: flex;
    padding: 2%;
    margin: 2%;
}

#com-board{
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.25em;
}

#player-board{
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.25em;
    justify-content: flex-start;
    margin-left: auto;
}
