*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    background-color: bisque;
}

h1{
    text-align: center;
    font-size: 3em;
}

.container{
    display: flex;
    gap: 3em;
}

#rock{
    border: 2px solid black;
    padding: 2%;
    border-radius: 10%;
}

#rock:hover{
    border-color: blue;
}

#paper{
    border: 2px solid black;
    padding: 2%;
    border-radius: 10%;
}

#paper:hover{
    border-color: blue;
}

#scissors{
    border: 2px solid black;
    padding: 2%;
    border-radius: 10%;
}

#scissors:hover{
    border-color: blue;
}